@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduler.Models.ApplicationUser> signInManager
@if (signInManager.IsSignedIn(User)){

}
else{
    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Sign Up", "Register", "Account",routeValues:null, htmlAttributes:new {id="registerLink"})</li>*@
        <li class="nav-item">
            <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
        </li>
        @*<li>@Html.ActionLink("Sign In", "Login", "Account",routeValues:null, htmlAttributes:new {id="loginLink"})</li>*@
    </ul>
}